html, body, #content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* lobby */

.lobby-form {
    padding-top: 100px;
    width: 50%;
    margin: 0 auto;

    textarea {
        resize: none;
        height: 400px;
    }

    input, textarea, button {
        width: 100%;
        border-radius: 4px;
        padding: 4px;
        margin-top: 24px;
    }
}


/* end lobby */

div.vscroll {
    padding-right: 15px;
    height: 100%;
    overflow-y: auto;
}

.cw-main {
    width: 100%;
    height: 100%;
    display: flex;
}

.cw-main-column-1 {
    margin: 12px;
    flex: 1;
}

.cw-main-column-2 {
    margin: 12px;
    flex: 1;
}

.cw-current-clue {
    background-color: lightblue;
    padding: 16px;
    font-size: 20px;
    margin-bottom: 24px;
}

.cw-outer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 2px solid black;
}

.cw-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;

    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

.cw-square {
    position: relative;
    border: 1px solid dimgray;

    .cw-gridsquare {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &.cw-gridsquare-circle {
            border: 2px solid darkslategrey;
            border-radius: 50%;
        }

        &.cw-gridsquare-shaded {
            background-color: grey;
        }
    }

    div.cw-cluelabel {
        position: absolute;
        top: 15%;
        left: 5%;

        span {
            font-size: 0.6vw;
        }
    }

    span {
        position: relative;
        float: left;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        color: black;
        line-height: 1;
        text-transform: uppercase;
    }

    &.selectedPrimary {
        // #ffda00
        background-color: goldenrod;
    }

    &.selected {
        // #a7d8ff
        background-color: lightblue;
    }

    &.unfillable {
        background-color: black;
    }
}

.cw-clues {
    width: 100%;
    height: 100%;
    display: flex;

    .cw-clues-column {
        flex: 1;
        margin: 8px;

        p.cw-clues-column-label {
            font-weight: bold;
        }

        .vscroll {
            height: 90%;
            border-top: 1px solid lightgrey;

            .cw-clues-row {
                display: flex;

                &.selected {
                    background-color: lightblue;
                }

                &.related {
                    background-color: goldenrod;
                }

                .cw-clues-primary {
                    flex: 19;
                    padding-left: 12px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    display: flex;

                    div:nth-child(1) {
                        flex: 1;
                        text-align: right;
                        font-weight: bold;
                        padding-right: 8px;
                    }

                    div:nth-child(2) {
                        flex: 9;
                    }
                }

                .cw-clues-secondary {
                    flex: 1;
                    padding: 0;

                    &.selected {
                        background-color: lightblue;
                    }
                }
            }
        }
    }
}


